/* colors: http://chriskempson.com/projects/base16/ */

body {
  font-family: 'Inconsolata', monospace;
  font-size: 12px;

  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;

  background: #181818;
  overflow: hidden; /* feels like a hack for transform() on main app wrapper */
}

.board,
.connections {
  position: absolute;
  top: 0;
  left: 0;
}

.board__grid-point {
  fill: rgba(255, 255, 255, 0.1);
}

@keyframes pulsate {
  0%   { fill: rgba(255, 255, 255, 0.35); }
  50%  { fill: rgba(255, 255, 255, 0.15); }
  100% { fill: rgba(255, 255, 255, 0.35); }
}

.board__cursor {
  animation: pulsate 0.8s infinite;
}

.overlay {
  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.7777777);
  padding: 20px;
}

.overlay__content {
  display: flex;
  width: 100%;
  height: 100%;
}

.upsert-block {
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
}

.new-block {
  position: absolute;
}

.new-block__input {
  background: #282828;
  border: 1px solid #f8f8f8;
  color: #f8f8f8;
  padding: 5px;

  font-family: 'Inconsolata', monospace;
  font-size: 12px;
}

.new-block__input {
  width: 100%;
}

.new-block__input:focus {
  outline: none;
}

.new-block__menu {
  display: inline-block;
  min-width: 100% !important;

  max-height: 300px;
  overflow-y: scroll;
}

.new-block__menu-item {
  color: #282828;
  background: #f8f8f8;
  padding: 5px;
  font-size: 12px;
}

.new-block__menu-item--selected {
  background: #d8d8d8;
}

#create_block_ace {
  font-family: 'Inconsolata', monospace;
  font-size: 12px;
}

.block__wrapper {
  position: absolute;
  background: #d8d8d8;
  color: #181818;
}

.block__content {
  border: 1px solid #d8d8d8;
  padding: 5px;
}

.block__content--hovered {
  border: 1px solid #ab4642;
}

.block__input,
.block__output {
  position: absolute;
  background: #282828;
  border: 1px solid #d8d8d8;
  color: #d8d8d8;
}

.block__input-content,
.block__output-content {
  display: flex;
  padding: 5px;
}

.block__output-content {
  justify-content: flex-end;
}

.block__output-content {
  text-align: right;
}

.block__input--hovered,
.block__output--hovered {
  border: 1px solid #ab4642;
}

.block__input-name {
  padding-left: 4px;
}

.block__output-name {
  padding-right: 4px;
}

.block__find,
.block__output-letter-hover,
.block__input-letter-hover {
  position: absolute;
  right: -27px;
  top: 1px;
  background: #d8d8d8;
  color: #181818;
  padding: 4px;
  width: 18px;
  height: 12px;
  text-align: center;
}

.block__find,
.block__input-letter-hover {
  left: -27px;
}

.block__find {
  top: 0;
}

.block__ui {
  overflow: hidden;
}

.connections {
  pointer-events: none;
}

.connection {
  stroke: #d8d8d8;
  stroke-width: 1px;
  fill: none;
}

.connector-circle__container {
  padding: 2px;
  display: inline-block;
}

.connector-circle {
  stroke-width: 1px;
  stroke: #d8d8d8;
  fill: none;
}

.connector-circle--connected {
  stroke: none;
  fill: #d8d8d8;
}

.highlight-letters {
  color: #ab4642;
}

.help {
  color: #d8d8d8;
  line-height: 16px;

  padding-top: 60px;
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
}

.help__list {
  list-style-type: square;
}

.help__highlight {
  color: #f8f8f8;
  background: #282828;
  padding: 2px 4px;
}

.help__link {
  color: #f8f8f8;
  background: #282828;
  padding: 2px 4px;
  text-decoration: underline;
}

