* {
  padding: 0;
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;

  background: #222;
}

.board__grid-point {
  fill: rgba(255, 255, 255, 0.15);
}

@keyframes pulsate {
  0%   { fill: rgba(255, 255, 255, 0.35); }
  50%  { fill: rgba(255, 255, 255, 0.15); }
  100% { fill: rgba(255, 255, 255, 0.35); }
}

.board__cursor {
  animation: pulsate 1.0s infinite;
}

.new_block {
  position: absolute;
}
